@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-color: #e85f33;
    --base-color-two: #282530;
    --dark-color: #1e1b22;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base-color: #e85f33;
        --base-color-two: #282530;
        --dark-color: #1e1b22;
    }
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
    background: var(--dark-color);
}

* {
    box-sizing: border-box;
}

.c-container{
    max-width: 1366px;
    margin-inline: auto;
}
.bg-base-color{
    background: var(--base-color);
}
.text-base-color{
    color: var(--base-color);
}
.bg-base-color-two{
    background: var(--base-color-two);
}
.text-base-color-two{
    color: var(--base-color-two);
}
